.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2a2a2a;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    display: flex;
}

.links {
    text-decoration: none;
}